.info-img-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/png/bg-pattern-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;

  .container {
    display: flex;
    align-items: center;
    column-gap: 30px;
    max-width: 1210px;
    margin: 0 auto;

    .info {
      padding: 20px;
      width: 50%;
      max-width: 600px;

      h3 {
        @include subheading-1;
        color: $accent;
        margin-bottom: 21px;
      }

      p {
        @include body-text;
        color: $dark-1;
      }
    }

    .img-container {
      width: 50%;
      max-width: 550px;

      img {
        width: 100%;
      }
    }
  }
}

#laptop-section {
  background-image: url("../assets/png/bg-pattern-3.png");
  height: 600px;
  margin-top: 167px;
  margin-bottom: 25px;

  .container {
    .img-container {
      margin-top: -7rem;
    }
  }
}

.video-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/png/bg-pattern-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;

  .container {
    display: flex;
    align-items: center;
    column-gap: 30px;
    max-width: 1210px;
    margin: 0 auto;

    .info {
      padding: 1.5rem;
      width: 50%;
      max-width: 600px;

      h3 {
        @include subheading-1;
        color: $white;
        margin-bottom: 21px;
      }

      p {
        @include body-text;
        color: $white;
        margin-bottom: 21px;
      }
    }
  }

  .video {
    position: relative;
    width: 50%;
    margin-bottom: -7.5rem;

    &-preview {
      max-width: 550px;
      img {
        width: 100%;
      }
    }
  }

  .video-custom-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.statistics-section {
  display: grid;
  place-items: center;
  background-color: $primary;
  min-height: 400px;
  margin-bottom: 21px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
    flex-wrap: wrap;
    max-width: 1210px;
    margin: 0 auto;
    width: 100%;
  }

  .statistics-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    color: $white;
    max-width: 350px;
    padding: 24px;
    text-align: center;

    &-img {
      width: 100px;
    }

    &-number {
      @include big-numbers;
    }

    &-info {
      @include body-text;
    }
  }
}

.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/png/bg-pattern-4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 130px;
    row-gap: 3rem;
    flex-wrap: wrap;
    max-width: 1210px;
    margin: 0 auto;

    .card {
      display: flex;
      flex-direction: column;
      background-color: $white;
      border-radius: 0;
      max-width: 368px;

      &-img {
        width: 100%;

        img {
          width: 100%;
        }
      }

      &-body {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
        padding: 48px 24px;
      }

      &-title {
        @include subheading-2;
        color: $gray-2;
      }

      &-text {
        @include caption;
        color: $gray-2;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .cta {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-image: url("../assets/png/cta-bg.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      height: 500px;
      width: 500px;
      padding: 2rem;

      &-gradient-mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          360deg,
          rgba(0, 0, 0, 0.2) 54.19%,
          rgba(0, 0, 0, 0) 99.03%
        );
        z-index: 0;
      }

      &-content {
        z-index: 1;
      }

      &-title {
        @include subheading-1;
        max-width: 436px;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: $laptop) {
  .info-img-section {
    height: fit-content;
    min-height: 650px;

    .container {
      flex-direction: column;
      padding: 5rem 20px;
      row-gap: 2rem;

      .info {
        width: 100%;
        padding: 20px;
      }

      .img-container {
        width: 100%;
      }
    }
  }

  #laptop-section {
    background-image: url("../assets/png/bg-pattern-3.png");
    min-height: 600px;
    height: fit-content;
    margin: 0 auto;

    .container {
      flex-direction: column-reverse;

      .img-container {
        margin-top: 0;
      }
    }
  }

  .video-section {
    min-height: 600px;
    height: fit-content;

    .container {
      flex-direction: column;
      padding: 5rem 20px;
      row-gap: 2rem;

      .info {
        padding: 1.5rem;
        width: 100%;
        max-width: 600px;
      }
    }

    .video {
      width: 100%;
      margin-bottom: 0;

      &-preview {
        margin: 0 auto;
        width: 100%;
      }
    }
  }

  .statistics-section {
    .container {
      justify-content: space-evenly;
      row-gap: 2rem;
      max-width: 1210px;
      padding: 5rem 20px;
    }
  }

  .cta-section {
    .container {
      padding: 5rem 20px;
    }
  }
}

@media (max-width: $tablet) {
  .cta-section {
    .container {
      padding: 5rem 20px;

      .card {
        max-width: 368px;
      }

      .cta {
        height: 500px;
        width: 100%;
        padding: 2rem;
      }
    }
  }
}

@media (max-width: $mobile) {
  .statistics-section {
    .statistics-card {
      &-number {
        @include subheading-1;
      }
    }
  }

  .cta-section {
    .container {
      .card {
        max-width: 100%;
      }

      .cta {
        height: 500px;
        width: 100%;
        padding: 2rem;
      }
    }
  }
}
