// Colors
$white: #ffffff;
$light: #f2f2f2;
$dark-1: #333333;
$dark-2: #313131;
$dark-3: #262626;
$gray-1: #c2c2c2;
$gray-2: #4f4f4f;
$accent: #f10a0a;
$primary: #3357f8;
$secondary: #ff7700;

// Typography
@mixin big-title {
  font-size: 3.438rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin main-section {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin subheading-1 {
  font-size: 2.188rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin subheading-2 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin subheading-3 {
  font-size: 1.438rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

@mixin body-text {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

@mixin bodyt-text--bold {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

@mixin button-text {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.2;
  text-transform: uppercase;
}

@mixin caption {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

@mixin nav-link {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

@mixin endnote {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

@mixin footnote {
  font-size: 0.562rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

@mixin big-numbers {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

@mixin text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// Form elements
@mixin default-input {
  @include endnote;
  background-color: $white;
  border: 1px solid #949494;
  border-radius: 0px;
  padding: 8px 16px;
}
